/* TODO: Make it awesome */
html{
  background-color: forestgreen;
}
header{
  background-color: goldenrod;
  padding: 1em;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
}
main{
  margin-bottom: 50%;
}
body header:first-child{
  margin-top: 5%;
}
h1{
  font-size: 30px;
  font-weight: 400px;
  text-align: center;
}
ul{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  margin-top: 2%;
}
a{
  text-decoration: none;
  color: black;
  font-weight: 100;
  margin-left: 55px;
  margin-right: 50px;
}
a:hover{
  color: aliceblue;
}
ul span{
  margin-left: 15px;
}
.card{
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}
fieldset{
  background-color: goldenrod;
  margin-top: 2%;
  padding-top: 5%;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}
legend{
  background-color: goldenrod;
  width: 700px;
  border-top-left-radius: 80%;
  border-top-right-radius: 80%;
  font-size: 30px;
}
fieldset label{
  margin-left: 50px;
  text-align: center;
}
#items{
  margin-right: 50px;
}
footer{
  margin-top: 15%;
  text-align: center;
}